# Mac filesystem dust
.DS_Store/
.DS_Store

# Linux temp files
*~

# IntelliJ
*.iml
.idea

# Gradle
!gradle/wrapper/gradle-wrapper.jar
.gradle
build

# Mirai
build-data
run

mirai-server
mirai-api
paper-api-generator
